
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    @apply font-mono;
  }
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
@font-face {
  font-family: 'Jetbrains-Mono';
  src: url('./assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf') format('truetype');
}
body{
  background-color: #171717;
  font-family: 'Jetbrains-Mono', monospace;
 }
